\
<div class="SearchableBox">
    <div class="search_q">
        <span class="spanQ">+</span>
    </div>
    <div class="search_t">
        <input type="text" readonly="readonly" /></div>
</div>
<div id="dialog-modal" title="Basic modal dialog">
    <div id="divSerach">
    </div>
</div>
<style>
    .SearchableBox
    {
        width: 200px;
    }
    .SearchableBox .search_q
    {
        text-align: right;
    }
    .SearchableBox .search_q spanQ
    {
        border: 1px solid Red;
    }
    .SearchableBox .search_t text
    {
        width: 100%;
    }
    
    .ui-dialog-titlebar
    {
        height: 18px;
    }
    #dialog-modal
    {
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
        padding: 0px;
    }
</style>
<script language="javascript">
    $(function () {
        $("#dialog-modal").dialog({
            autoOpen: false,
            height: 500,
            width: 800,
            modal: true,
            resizable: false
        });
    });
    $(".spanQ").click(function () {
        var cid = $(this).attr("cid");
        var divSearch = "divSerach_" + cid;
        var dialogDiv = "dialog_" + cid;
        $(divSearch).load("http://localhost:8080/Administration/SecurityUser", function () { $(dialogDiv).dialog("open"); });
    });
</script>
